.header {
    width: 940px;
    height: 50px;
    margin: 0px 150px 0px 150px;
    padding-bottom: 33px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(215, 68, 41);
}

a:link, a:visited {
    color: rgb(37, 103, 153);
    text-decoration: rgb(37, 103, 153);
    cursor: auto;
}

a:hover, a:active {
    color: rgb(110, 177, 32);
}

.header-communication-one {
    float: left;
    width: 250px;
    margin: 25px 0px 25px 70px;
    padding-right: 20px;
    border-right-style: solid;
    border-width: 1px;
    border-color: rgb(209, 209, 209);
    text-align: right;
}

.header-communication-two {
    float: left;
    width: 200px;
    margin: 25px 0px 25px 20px;
    text-align: left;
}

.main {
    margin: 0px 150px 50px 150px;
    width: 940px;
}

.main-block-one {
    width: 940px;
}

.class-blocks {
    margin-bottom: 40px;
}

.class-block {
    text-align: right;
    width: 217px;
    margin: 0px 20px 50px 0px;
    position: relative;
    display: inline-block;
}

.class-block.class-end {
    margin-right: 0px;
}

.class-block-text {
    text-align: center;
    color: rgb(82, 82, 82);
    background-color: rgb(238, 238, 238);
    width: 215px;
    height: 50px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 400px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.class-block:hover .dropdown-content {
    display: block;
}

.class-block-text :hover {
    background-color: rgb(110, 177, 32);
    color: rgb(255, 255, 255)
}

.main-block-two {
    width: 960px;
}

.diameter-blocks {
    float: left;
    width: 215px;
}

.diameter-block {
    float: left;
    text-align: center;
    width: 75px;
    height: 35px;
    margin-left: 10px;
    color: rgb(61, 61, 61);
    border: 2px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    border-radius: 2px;
    margin-bottom: 50px;
}

.diameter-block.active {
    background-color: rgb(110, 177, 32);
}

.diameter-block :last-child {
    margin-top: 9px;
}

.main-block-three {
    width: 940px;
    text-align: left;
}

.size-blocks {
    float: left;
    width: 250px;
    height: 200px;
}

.size-block {
    float: left;
    text-align: center;
    width: 90px;
    height: 35px;
    color: rgb(61, 61, 61);
    border: 2px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    border-radius: 2px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.size-block :last-child {
    margin-top: 9px;
}

.size-block.active {
    background-color: rgb(110, 177, 32);
}

.main-block {
    float: left;
    width: 313px;
    height: 400px;
    line-height: 20px;
    text-align: center;
}

.main-last-text {
    text-align: center;
}

footer {
    text-align: center;
    width: 900px;
    margin: auto;
}

.footer-question-one {
    background-color: rgb(238, 238, 238);
}

.footer-blocks-one {
    width: 900px;
    text-align: center;
    background-color: rgb(238, 238, 238);
}

.footer-block {
    float: left;
    width: 225px;
    height: 300px;
    margin-bottom: 40px;
    background-color: rgb(238, 238, 238);
}

.footer-blocks-two {
    width: 900px;
    background-color: white;
}

.question-block {
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    background-color: white;
}

.footer-blocks-three {
    background-color: rgb(238, 238, 238);
}

#e-mail-input {
    float: left;
    margin-left: 100px;
    margin-right: 0px;
    width: 400px;
    height: 30px;
    border: 1px;
    border-style: solid;
}

#e-mail-botton {
    width: 200px;
    height: 35px;
    margin-right: 198px;
}